@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

html, body {
  height:100%;
  width:100%;
}

input, button, submit { border:none; background-color:transparent;} 

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.61;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #D9CB9E;
  background: rgba(218,134,71,1);
  background: -moz-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,134,71,1)), color-stop(16%, rgba(188,73,61,1)), color-stop(23%, rgba(173,58,60,1)), color-stop(37%, rgba(135,45,58,1)), color-stop(49%, rgba(96,32,56,1)), color-stop(69%, rgba(56,15,45,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da8647', endColorstr='#000000', GradientType=1 );
}

img {
  margin:30px;
  text-align:center;
}

a {
  color: #DC3522;
}
a:hover, a:active {
  color: #b02a1b;
  outline: 0;
}

ul {
    list-style:none;
}
ul, li { 
    margin: 0;
    padding: 0;
}

#title {
  text-align:center;
  padding: 50px;
  font-size:50pt;
  font-weight:600;
  margin:0;
  background: rgba(10,10,10,0.5);
}

#timeline {
  position:absolute;
  left: 0;
  font-size: .9em;
  width:100%;
  height:100%;
  border-radius: 39px 39px 39px 39px;
  -moz-border-radius: 39px 39px 39px 39px;
  -webkit-border-radius: 39px 39px 39px 39px;
  background: rgba(10,10,10,0.35);
  background: -moz-radial-gradient(center, ellipse cover, rgba(10,10,10,0.35) 0%, rgba(46,46,46,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(10,10,10,0.35)), color-stop(100%, rgba(46,46,46,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(10,10,10,0.35) 0%, rgba(46,46,46,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(10,10,10,0.35) 0%, rgba(46,46,46,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(10,10,10,0.35) 0%, rgba(46,46,46,0) 100%);
  background: radial-gradient(ellipse at center, rgba(10,10,10,0.35) 0%, rgba(46,46,46,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#2e2e2e', GradientType=1 );
}

#life {
  margin:auto;
  height:100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 1em;
}
#life .event {
  padding-right: 20px;
  padding-bottom: 15px;
  white-space: nowrap;
  z-index:100;
}

div.event > button {
  font-size:16px;
  font-weight: 800;
}

#life .event:hover {
  opacity: .8;
  cursor: pointer;
}

#life .event b {
  padding-right: .5em;
}
#life .event .time {
  height: 10px;
  border: 4px solid #444;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  left: -2px;
}

#life section.year {
  min-height: 100%;
  box-sizing: border-box;
  border-left: 1px dashed #37373a;
  z-index:-1;
  color: #777;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
  white-space: nowrap;
}

#life .other .time {
  background-color:#9CAA61;
  border: 4px solid #9CAA61;
}

#life .windows .time {
  background-color:#449;
  border: 4px solid #449;
}
#life .linux .time {
  background-color:#333;
  border: 4px solid #333;
}

#life .mac .time {
  background-color:#e9e8e9;
  border: 4px solid #e9e8e9;
}


/* ================ OVERLAY ==================*/


.overlay-1, 
.overlay-2,
.overlay-3, 
.overlay-4, 
.overlay-5,
.overlay-6,
.overlay-7, 
.overlay-8,
.overlay-9, 
.overlay-10, 
.overlay-11,
.overlay-12,
.overlay-13 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  color:black;
  z-index:0;
}

/* Overlay closing cross */
 .overlay-1 .overlay-close, 
 .overlay-2 .overlay-close,
 .overlay-3 .overlay-close, 
 .overlay-4 .overlay-close,
 .overlay-5 .overlay-close,
 .overlay-6 .overlay-close,
 .overlay-7 .overlay-close, 
 .overlay-8 .overlay-close,
 .overlay-9 .overlay-close, 
 .overlay-10 .overlay-close,
 .overlay-11 .overlay-close,
 .overlay-12 .overlay-close,
 .overlay-13 .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 8%;
  border: none;
  background: url(../img/cross-out.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);  
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

/* ===================== GUI Info ==================== */
nav {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 15px 0;
  background: rgba(218,134,71,1);
  background: -moz-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,134,71,1)), color-stop(16%, rgba(188,73,61,1)), color-stop(23%, rgba(173,58,60,1)), color-stop(37%, rgba(135,45,58,1)), color-stop(49%, rgba(96,32,56,1)), color-stop(69%, rgba(56,15,45,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  background: linear-gradient(45deg, rgba(218,134,71,1) 0%, rgba(188,73,61,1) 16%, rgba(173,58,60,1) 23%, rgba(135,45,58,1) 37%, rgba(96,32,56,1) 49%, rgba(56,15,45,1) 69%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da8647', endColorstr='#000000', GradientType=1 );
}

.gui_title {
  background: #0D030A;
  color:white;
  margin:0;
  padding: 20px;
}
nav button {
  display: block;
  padding: 5px 0;
  font-size:25px;
  text-decoration: none;
  text-indent: 20px;
  color: #fff;
}
nav button:hover {
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.03));
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.03));
}
section {
  width:50%;
  margin:auto;
  text-align: justify;
    text-justify: inter-word;
}

section.active {
  visibility:visible;
}

section.hidden {
  visibility:hidden;
}

main {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
}
main section {
  min-height: 100vh;
  padding: 20px;
}
main section h1, main section p {
  margin-top: 0;
}
main section h1 {
  font-weight: 500;
}
main section p:last-child {
  margin-bottom: 0;
}


.y1983{
  margin-left: 25.0px;
}

.y1984{
  margin-left: 75.0px;
}

.y1985{
  margin-left: 125.0px;
}

.y1986{
  margin-left: 175.0px;
}

.y1987{
  margin-left: 225.0px;
}

.y1988{
  margin-left: 275.0px;
}

.y1989{
  margin-left: 325.0px;
}

.y1990{
  margin-left: 375.0px;
}

.y1991{
  margin-left: 425.0px;
}

.y1992{
  margin-left: 475.0px;
}

.y1993{
  margin-left: 525.0px;
}

.y1994{
  margin-left: 575.0px;
}

.y1995{
  margin-left: 625.0px;
}

.y1996{
  margin-left: 675.0px;
}

.y1997{
  margin-left: 725.0px;
}

.y1998{
  margin-left: 775.0px;
}

.y1999{
  margin-left: 825.0px;
}

.y2000{
  margin-left: 875.0px;
}

.y2001{
  margin-left: 925.0px;
}

.y2002{
  margin-left: 975.0px;
}

.y2003{
  margin-left: 1025.0px;
}

.y2004{
  margin-left: 1075.0px;
}

.y2005{
  margin-left: 1125.0px;
}

.y2006{
  margin-left: 1175.0px;
}

.y2007{
  margin-left: 1225.0px;
}

.y2008{
  margin-left: 1275.0px;
}

.y2009{
  margin-left: 1325.0px;
}

.y2010{
  margin-left: 1375.0px;
}

.y2011{
  margin-left: 1425.0px;
}

.y2012{
  margin-left: 1475.0px;
}

.y2013{
  margin-left: 1525.0px;
}

.y2014{
  margin-left: 1575.0px;
}

.y2015{
  margin-left: 1625.0px;
}

.y2016{
  margin-left: 1675.0px;
}
